.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.800);
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo-navbar {
  font-size: 1.5em;
}

.liste-navbar {
  display: flex;
}

.liste-navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.liste-navbar ul a {
  margin-right: 20px;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.li-navbar a:hover {
  color: rgb(212, 135, 34);
}

.menu-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .liste-navbar {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.800);
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .liste-navbar.active {
    display: flex;
  }

  .liste-navbar ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .liste-navbar ul a {
    margin: 10px 0;
  }

  .menu-burger {
    display: flex;
  }
}
